* { box-sizing:border-box; margin:0; padding:0;border-style: none; }

html, body{ 
  scroll-behavior: smooth;
	height:100%; 
  width:100%; 
}
#head-page{
  display:block;
  background-color: lightblue;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F1b%2Ff8%2Fbc%2F1bf8bc815c4bd35bac0a5524eb13e09e.jpg&f=1&nofb=1);
  background-size:cover;
  background-position: center center;
  height:100vh;
}
#begin-button{
  border-style: none;
  outline-style: none;
  background-color: transparent;
  padding-top: 45vh;
 
  margin: auto;
  position: relative;
  display: grid;
}
#begin-button img{
  width:10vh;
  height: 10vh;
  filter: brightness(100%);
}
#begin-button:hover{
  padding-top: 44vh;
}
#begin-button img:hover{
  filter: brightness(110%);
  width:12vh;
  height: 12vh;
}
#begin-button:active{
  padding-top: 46vh;
}
#begin-button img:active{
  filter: brightness(90%);
  width:8vh;
  height: 8vh;
}

#play-page{
  height:100vh;
  display:block;
  background-color: rgb(252, 206, 120);
}

#results-page{
  height: 100%;
  display: none;
}
#results-page a{
  text-align: center;
  font-size: 30px;
}
#my_eyes_are_red{
  /* Are they tho? */
  width: 100%;
  height: 40%;
}
#results-page image{
  margin-top:20%;
  top:20px;
  margin-bottom: 7.5%;
  background-color: tomato;
  display: grid;
}
#canvas {
  background-color: transparent;
  height: 400px;
  position: relative;
  float: left;
  margin-left: 5%;
  height: 100vh;
  background-color: turquoise;
}
#textResult{
  position: relative;
  display: block;
  margin-top: 10px;
  top: 10px;
  float: center;
  margin: 0 auto;
  text-align: center;
  font-family: 'Notable',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#eye_chart{
  float: right;
  margin-right: 5%;
}

#camera-page{
  overflow: hidden;
  height: 100%;
}
#video-container{
  float:left;
  display: grid;
  height: 100%;
  position: relative;
  background-color: wheat;

}
#video {
  display: grid;
  height: 100%;
  position: relative;
}

#snap{
  background-color: transparent;
  float: right;

  margin-top:50vh;
  margin-right:5%;
  
  position: relative;
  display: grid;

}
#snap img{
  width:10vh;
  height: 10vh;
  filter:grayscale(0%);
}
#snap img:active{
  
  filter:grayscale(100%);
}


#text-page{
  height:60vh;
  display:block;
  background-color: lightsalmon;
  font-size: 15px;
  text-align: center;
}
#text-page p{
  display:grid;
  position: relative;
  top:55px;
}

#contact{
  height:100vh;
  display:block;
}

#credits{
  height:100vh;
  display:block;
}